---
title: Welcome to Middleman
---


    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        I Got Issues
                    </a>
                </li>
                <li>
                    <a href="#issues">Pick Your Issue</a>
                </li>
                <li>
                    <a href="#learn">Learn About the Job</a>
                </li>
                <li>
                    <a href="#plan">Plan Your Ballot</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>I Got Issues</h1>
                        <p>It's hard to learn about <a href="http://www.oxforddictionaries.com/us/definition/american_english/down-ballot">down-ballot</a> candidates, yet they hold a lot of power over the things you care about.</p>
                        <p>This app will help you learn about the down-ballot candidates who work on the issues you care about.</p>
                        <a href="#issues" class="btn btn-default" id="menu-toggle">Ready? Pick your issue!</a>
                    </div>
                </div>
            </div>
            <div class="container-fluid" style="padding-top:800px;">
                <div class="row" id="#issues">
                    <h1>Pick Your Issue</h1>
                    <button class="btn btn-danger">Budget</button>
                    <button class="btn btn-success">Education</button>
                    <button class="btn btn-danger">Environment</button>
                    <button class="btn btn-danger">Housing</button>
                    <p>hey</p>
                </div>
            </div>
            <div class="container-fluid" style="padding-top:800px;">
                <div class="row" id="#learn">
                    <p>hey</p>
                </div>
            </div>
            <div class="container-fluid" style="padding-top:800px;">
                <div class="row" id="#plan">
                    <p>hey</p>
                </div>
            </div>            
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Menu Toggle Script -->
    <script>
    $("#menu-toggle").click(function(e) {
        e.preventDefault();
        $("#wrapper").toggleClass("toggled");
    });
    </script>
