---
title: I Got Issues
---


    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        I Got Issues
                    </a>
                </li>
                <li>
                    <a class="jumper-link" href="#issues">Pick Your Issue</a>
                </li>
                <li>
                    <a class="jumper-link" href="#location">Add Your Location</a>
                </li>
                <li>
                    <a class="jumper-link" href="#learn">Who Does What</a>
                </li>
                <li>
                    <a class="jumper-link" href="#plan">Plan Your Ballot</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid" style="padding-bottom:800px;">
                <div class="row" id="issues">
                    <div class="col-lg-12">
                        <h1>I Got Issues</h1>
                        <p>It's hard to learn about <a href="http://www.oxforddictionaries.com/us/definition/american_english/down-ballot">down-ballot</a> candidates, yet they hold a lot of power over the things you care about.</p>
                        <p>This app will help you learn about the down-ballot candidates who work on the issues you care about.</p>

                        <h1>Pick Your Issue</h1>
                        <button class="btn btn-danger">Budget</button>
                        <button class="btn btn-success">Education</button>
                        <button class="btn btn-danger">Environment</button>
                        <button class="btn btn-danger">Housing</button>

                    </div>
                </div>
            </div>
            <div class="container-fluid" style="padding-bottom:800px;">
                <div class="row" id="location">
                    <h1>Add your location</h1>
                    <p>We want to show you information relevant to your ballot. Please add your location and we'll hook you up.</p>
                    <input type="text" style="margin:10px 0 10px 0; padding:10px; width:400px;">
                    <br/><a href="#learn" style="color:#000;"><button class="btn btn-submit">Show Me Stuff</button></a>
                </div>
            </div>
            <div class="container-fluid" style="padding-bottom:800px;">
                <div class="row" id="learn">

                    <h1>Who Does What</h1>
                    <p>You indicated that you live in Bell County. <a href="#location">Not your county?</a></p>
                    <h3>Let's start small:</h3>
                    <h4>Bell County School Board</h4>
                    <p>What does the school board do?</p>
                    <ul>
                        <li>Create vision and goals for the district</li>
                        <li>Evaluate district success</li>
                        <li>Adopt policies to drive district actions</li>
                        <li>Hire a superintendent and evaluate his/her success</li>
                        <li>Approve district budget consistent with district vision</li>
                        <li>Communicate district’s vision and success to the community</li>
                    </ul>
                    <p>The school board consists of <strong>elected trustees</strong> who represent the interests of a school district. <strong>Here are the school districts in Bell County:</strong></p>
                    <ul>
                        <li><a href="http://www.academyisd.net/apps/pages/index.jsp?uREC_ID=202802&type=d&pREC_ID=444204 ">Academy ISD</a>. Academy ISD has seven trustees who serve three-year staggered terms.  The next election will be in May 2017.</li>
                        <li><a href="http://www.bartlett.txed.net/apps/pages/index.jsp?uREC_ID=237336&type=d&pREC_ID=549127">Bartlett ISD</a>. Bartlett ISD has seven trustees who serve three-year staggered terms.  The next election will be in May 2017</li>
                        <li><a href="http://www.bisd.net/domain/17">Belton ISD</a>. Belton ISD has seven trustees.  Two are elected at large.  Five serve single-member districts.  The next election will be in May 2017.</li>
                        <li><a href="http://www.ccisd.com/Page/9494">Copperas Cove ISD</a>. Coppera Cove ISD has seven trustees serving ___-year terms. They publish <a href="http://www.ccisd.com/Page/98">profiles of current board members</a>, in case you're interested. Three places will be on the November 8, 2016 ballot: Place 3, Place 4, and Place 5.</li>
                        <li><a href="http://www.florenceisd.net/14756">Florence ISD</a>. Florence ISD has seven trustees who serve three-year staggered terms.  The next election will be in May 2017.</li>
                        <li><a href="http://www.gatesvilleisd.org/apps/pages/index.jsp?uREC_ID=182262&type=d&pREC_ID=379262 ">Gatesvile ISD</a>. Gatesville ISD has seven trustees who serve 3-year staggered terms. Two places will be on the November 8, 2016 ballot.</li>
                        <li><a href="http://www.hollandisd.org/default.aspx?name=sb.home">Holland ISD</a>. Holland ISD has seven trustees who serve staggered three-year terms.  The next election will be in May 2017.</li>
                        <li><a href="https://www.killeenisd.org/frontPageV3/">Killeen ISD</a>. Kileen ISD has seven trustees who serve staggered three-year terms. The next election will be in May 2017.</li>
                        <li><a href="http://www.lisdtx.org/board_members.cfm">Lampasas ISD</a>.</li>
                        <li><a href="http://www.moodyisd.org/board/board_members">Moody ISD</a>. Moody ISD has seven trustees who serve staggered three-year terms.  Three positions will be on the November 8, 2016 ballot.</li>
                        <li><a href="http://www.rogersisd.org">Rogers ISD</a>. Rogers ISD has seven trustees who serve staggered three-year terms.  The next election fo Rogers ISD school board is in May 2017.</li>
                        <li><a href="http://www.rlisd.org/apps/pages/index.jsp?uREC_ID=91920&type=d&pREC_ID=172930">Rosebud-Lott ISD</a>. Rosebud-Lott ISD has seven trustees. They serve four-year staggered terms. The next election for Rosebud-Lott trustees is in May 2017.</li>
                        <li><a href="http://www.saladoisd.org/122797_2">Salado ISD</a>. Salado ISD has seven trustees that serve three-year staggered terms.  The next election for Salado ISD school board trustees is in May 2017.</li>
                        <li><a href="http://www.tisd.org/apps/pages/index.jsp?uREC_ID=340056&type=d&pREC_ID=770557">Temple ISD</a>. Temple ISD has seven board trustees that serve three-year staggered terms.  The next election for Temple ISD school board trustees is in May 2017.</li>
                        <li><a href="http://www.troyisd.org/apps/pages/index.jsp?uREC_ID=335441&type=d&pREC_ID=743110">Troy ISD</a>.</li>

                </div>
            </div>
            <div class="container-fluid">
                <div class="row" id="plan">
                    <h1>Plan Your Ballot</h1>
                    <p>hey</p>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Menu Toggle Script -->
    <script>
      var htmlBody = $('html, body');

      $('.jumper-link').on('click', function (e) {
        e.preventDefault();

        var linkAttr = $(this).attr('href');

        htmlBody.animate({
          scrollTop: $(linkAttr).offset().top
        });
      });
    </script>
