---
title: I Got Issues
---


    <div id="wrapper">

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li class="sidebar-brand">
                    <a href="#">
                        I Got Issues
                    </a>
                </li>
                <li>
                    <a class="jumper-link" href="#issues">Pick Your Issue</a>
                </li>
                <li>
                    <a class="jumper-link" href="#location">Add Your Location</a>
                </li>
                <li>
                    <a class="jumper-link" href="#learn">Who Does What</a>
                </li>
                <li>
                    <a class="jumper-link" href="#plan">Plan Your Trip</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->

        <!-- Page Content -->
        <div id="page-content-wrapper">
            <div class="container-fluid" style="padding-bottom:800px;">
                <div class="row" id="issues">
                    <div class="col-lg-12">
                        <h1>I Got Issues</h1>
                        <p>It's hard to learn about <a href="http://www.oxforddictionaries.com/us/definition/american_english/down-ballot">down-ballot</a> candidates, yet they hold a lot of power over the things you care about.</p>
                        <p>This app will help you learn about the down-ballot candidates who work on the issues you care about.</p>
                        <br/>
                        <h1>Pick Your Issue</h1>
                        <button class="btn btn-danger">Budget</button>
                        <a class="jumper-link" href="#location" style="text-decoration:none;"><button class="btn btn-success">Education</button></a>
                        <button class="btn btn-danger">Environment</button>
                        <button class="btn btn-danger">Housing</button>

                    </div>
                </div>
            </div>
            <div class="container-fluid" style="padding-bottom:800px;">
                <div class="row" id="location">
                    <h1>Add your location</h1>
                    <p>We want to show you information relevant to your ballot. Please add your location and we'll hook you up.</p>
                    <input type="text" style="margin:10px 0 10px 0; padding:10px; width:400px;">
                    <br/><a class="jumper-link" href="#learn" style="color:#000;"><button class="btn btn-submit">Show Me Stuff</button></a>
                </div>
            </div>
            <div class="container-fluid" style="padding-bottom:800px;">
                <div class="row" id="learn">

                    <h1>Who Does What</h1>
                    <p>You indicated that you live in Bell County. <a href="#location">Not your county?</a></p>
                    <h3>Let's start small:</h3>

                    <h4>Bell County School Board</h4>
                    <p>What does the school board do?</p>
                        <ul>
                            <li>Create vision and goals for the district</li>
                            <li>Evaluate district success</li>
                            <li>Adopt policies to drive district actions</li>
                            <li>Hire a superintendent and evaluate his/her success</li>
                            <li>Approve district budget consistent with district vision</li>
                            <li>Communicate district’s vision and success to the community</li>
                        </ul>
                    <p>The school board consists of <strong>elected trustees</strong> who represent the interests of a school district. <strong>Here are the school districts in Bell County:</strong></p>
                        <ul>
                            <li><a href="http://www.academyisd.net/apps/pages/index.jsp?uREC_ID=202802&type=d&pREC_ID=444204 ">Academy ISD</a>. Academy ISD has seven trustees who serve three-year staggered terms.  The next election will be in May 2017.</li>
                            <li><a href="http://www.bartlett.txed.net/apps/pages/index.jsp?uREC_ID=237336&type=d&pREC_ID=549127">Bartlett ISD</a>. Bartlett ISD has seven trustees who serve three-year staggered terms.  The next election will be in May 2017</li>
                            <li><a href="http://www.bisd.net/domain/17">Belton ISD</a>. Belton ISD has seven trustees.  Two are elected at large.  Five serve single-member districts.  The next election will be in May 2017.</li>
                            <li><a href="http://www.ccisd.com/Page/9494">Copperas Cove ISD</a>. Coppera Cove ISD has seven trustees serving ___-year terms. They publish <a href="http://www.ccisd.com/Page/98">profiles of current board members</a>, in case you're interested. Three places will be on the November 8, 2016 ballot: Place 3, Place 4, and Place 5.</li>
                            <li><a href="http://www.florenceisd.net/14756">Florence ISD</a>. Florence ISD has seven trustees who serve three-year staggered terms.  The next election will be in May 2017.</li>
                            <li><a href="http://www.gatesvilleisd.org/apps/pages/index.jsp?uREC_ID=182262&type=d&pREC_ID=379262 ">Gatesvile ISD</a>. Gatesville ISD has seven trustees who serve 3-year staggered terms. Two places will be on the November 8, 2016 ballot.</li>
                            <li><a href="http://www.hollandisd.org/default.aspx?name=sb.home">Holland ISD</a>. Holland ISD has seven trustees who serve staggered three-year terms.  The next election will be in May 2017.</li>
                            <li><a href="https://www.killeenisd.org/frontPageV3/">Killeen ISD</a>. Kileen ISD has seven trustees who serve staggered three-year terms. The next election will be in May 2017.</li>
                            <li><a href="http://www.lisdtx.org/board_members.cfm">Lampasas ISD</a>.</li>
                            <li><a href="http://www.moodyisd.org/board/board_members">Moody ISD</a>. Moody ISD has seven trustees who serve staggered three-year terms.  Three positions will be on the November 8, 2016 ballot.</li>
                            <li><a href="http://www.rogersisd.org">Rogers ISD</a>. Rogers ISD has seven trustees who serve staggered three-year terms.  The next election fo Rogers ISD school board is in May 2017.</li>
                            <li><a href="http://www.rlisd.org/apps/pages/index.jsp?uREC_ID=91920&type=d&pREC_ID=172930">Rosebud-Lott ISD</a>. Rosebud-Lott ISD has seven trustees. They serve four-year staggered terms. The next election for Rosebud-Lott trustees is in May 2017.</li>
                            <li><a href="http://www.saladoisd.org/122797_2">Salado ISD</a>. Salado ISD has seven trustees that serve three-year staggered terms.  The next election for Salado ISD school board trustees is in May 2017.</li>
                            <li><a href="http://www.tisd.org/apps/pages/index.jsp?uREC_ID=340056&type=d&pREC_ID=770557">Temple ISD</a>. Temple ISD has seven board trustees that serve three-year staggered terms.  The next election for Temple ISD school board trustees is in May 2017.</li>
                            <li><a href="http://www.troyisd.org/apps/pages/index.jsp?uREC_ID=335441&type=d&pREC_ID=743110">Troy ISD</a>.</li>
                        </ul>

                    <h4 style="padding:20px 0 0 0;">Central Texas College District Board of Trustees</h4>
                    <p>The Central Texas College Board of Trustees is comprised of elected representatives from the College District. Trustees serve six-year at-large terms representing the District, which includes the Killeen and Copperas Cove independent school districts. The Board's regular meeting is generally held the fourth Tuesday of each month at 1:00 p.m. in the Anderson Campus Center (Bldg. 156).</p>
                        <ul>
                            <li>Don Armstrong, Killeen, TX (term ends 2017)</li>
                            <li>Bill Beebe, Harker Heights, TX (term ends 2021)</li>
                            <li>Elwood Shemwell, Copperas Cove, TX (term ends 2019)</li>
                            <li>Dr. Scott Isdale, Secretary, Belton, TX (term ends 2021)</li>
                            <li>Jimmy Towers, Vice Chairperson, Killeen, TX (term ends 2019)</li>
                            <li>Mari Meyer, Chairperson, Harker Heights, TX (term ends 2019)</li>
                            <li>BG (Ret) Rex Weaver, Treasurer, Killeen, TX (term ends 2017)</li>
                        </ul>

                    <h4 style="padding:20px 0 0 0;">Texas State Board of Education</h4>
                    <p>What they do:</p>
                        <ul>
                            <li>Oversees the public education system in Texas</li>
                            <li>Sets the Texas Essential Knowledge Standards (TEKS)</li>
                            <li>Oversees the Permanent School Fund</li>
                            <li>Sets curriculum standards</li>
                            <li>Reviews and adopts instructional materials</li>
                            <li>Establishes graduation requirements</li>
                            <li>Approves or vetoes new charter schools</li>
                        </ul>
                    <br/>
                    <p>Who represents you:</p>
                        <ul>
                            <li>The Board of Education has 15 Districts. Bell County is in District 10.</li>
                            <li>The incumbent is <a href="http://tea.texas.gov/About_TEA/Leadership/State_Board_of_Education/Board_Members/SBOE_Member_District_10/">Tom Maynard</a> of Florence, Texas. Here's some <a href="http://www.maynardfortexas.com">further</a> <a href="http://www.teachthevote.org/races/candidate/tom-maynard">reading</a> about him.</li>
                            <li>The challenger is <a href="https://www.facebook.com/votejudyjennings/">Judy Jennings</a>, Democractic Party. Here's some <a href="http://www.teachthevote.org/races/candidate/judy-jennings">further reading</a> about her.</li>
                        </ul>

                    <h4 style="padding:20px 0 0 0;">Texas Legislature</h4>
                    <p>The Texas Legislature has 150 Representatives and 30 Senators. Bell County has one State Senator and Two State Representatives.</p>

                    <p><strong>What does the Texas legislature do related to education?</strong></p>
                    <p><strong>Public Education:</strong></p>
                        <ul>
                            <li>Pre-K</li>
                            <li>Assessment</li>
                            <li>Accountability</li>
                            <li>School Finance</li>
                            <li>School Choice (Public, Charters, Vouchers)</li>
                            <li>Teacher preparation</li>
                        </ul>
                    <p><strong>Higher Education:</strong></p>
                        <ul>
                            <li>College and Career Readiness</li>
                            <li>Higher Ed Funding</li>
                            <li>Dual Credit and AP credit policies</li>
                            <li>Guns on Campus</li>
                            <li>Tuition rates</li>
                        </ul>
                    <p>Bell County is in Texas State Senate District 24. Senator Troy Fraser is retiring and candidates to replace him are:</p>
                        <ul>
                            <li><a href="http://teachthevote.org/races/candidate/dawn-buckingham">Dawn Buckingham (R)</a></li>
                            <li><a href="http://teachthevote.org/races/candidate/virginia-jennie-lou-leeder">Virginia “Jennie Lou” Leeder (D)</a></li>
                        </ul>
                    <p>Bell County Texas House Representative District 54. Representative Jimmie Don Aycock is retiring and the candidates to replace him are:</p>
                        <ul>
                            <li><a href="http://teachthevote.org/races/candidate/scott-cosper">Scott Cosper (R)</a></li>
                            <li><a href="http://teachthevote.org/races/candidate/sandra-blankenship">Sandra Blankenship (D)</a></li>
                        </ul>
                    <p>Bell County Texas House Representative District 55:</p>
                        <ul>
                            <li><a href="http://teachthevote.org/races/candidate/hugh-shine">Hugh Shine (R)</a>. Running unopposed in the general election.</li>
                        </ul>


                    <h4 style="padding:20px 0 0 0;">Federal role in education:</h4>
                        <p>Education is primarily a state and local responsibility in the United States. The federal government provides about 8% of funding for the country’s public schools. The US Senate and Congress enact legislation regarding education funding and policy.</p>
                        <p>Your US Representative can enact legislation regarding Federal education funding and policy.</p>
                        <p><strong>Who represents you:</strong></p>
                            <ul>
                                <li>Texas U.S. Representatives, Congressional District 25: <a href="http://williams.house.gov/">Congressman Roger Williams</a></li>
                                <li>Congressional District 31: Congressman John Carter</li>
                            </ul>
                        <p><strong>Election 2016</strong>: District 25 Candidates</p>
                            <ul>
                                <li><a href="http://www.rogerforcongress.com/">Roger Williams (R)</a></li>
                                <li><a href="http://www.kathiforcongress.com/issues.html#education">Kathi Thomas (D)</a></li>
                                <li><a href="http://www.lorenfortexas25th.com/">Loren Marc Schneiderman (L)</a></li>
                            </ul>
                        <p>Your US Senator can enact legislation regarding Federal education funding and policy.</p>
                        <p><strong>Who represents you:</strong></p>
                            <ul>
                                <li><a href="https://www.cornyn.senate.gov/">Senator John Cornyn</a></li>
                                <li><a href="https://www.cruz.senate.gov/">Senator Ted Cruz</a></li>
                            </ul>
                        <p>Election 2016: U.S. Senators serve 6-year terms. Ted Cruz’s term ends January 3, 2019. John Cornyn’s term ends January 3, 2021.</p>









                </div>
            </div>
            <div class="container-fluid">
                <div class="row" id="plan">
                    <h1>Plan Your Trip</h1>
                    <h4>Dates to know:</h4>
                    <ul>
                      <li>Deadline to register &mdash; Oct. 11</li>
                      <li>First day of early voting &mdash; Oct. 24</li>
                      <li>Last day of early voting &mdash; Nov. 4</li>
                      <li>Election day &mdash; Nov. 8</li>
                    </ul>
                    <h4>Where to go:</h4>
                    <ul>
                      <li><a href="#">Know your voting precinct</a></li>
                      <li><a href="#">Map of all precincts</a></li>
                      <li><a href="#">Polling locations</a></li>
                    </ul>
                    <h4>Just in case:</h4>
                    <ul>
                      <li><a href="#">Mail-in ballots</a></li>
                      <li><a href="#">Military and overseas voters</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->
    <!-- Menu Toggle Script -->
    <script>
      var htmlBody = $('html, body');

      $('.jumper-link').on('click', function (e) {
        e.preventDefault();

        var linkAttr = $(this).attr('href');

        htmlBody.animate({
          scrollTop: $(linkAttr).offset().top
        });
      });
    </script>
